.app {
  font-size: 2rem;
  line-height: 1.4;
  color: #21233c;
  background-color: #f5f5f5;
  //margin: 0 auto;
  //width: 37.5rem;

  & > img {
    width: 100vw;
    //margin-bottom: 3rem;
  }

  .content {
    padding: 2.4rem;
    font-size: 1.8rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    & > h1 {
      font-family: roboto-bold, sans-serif;
      font-size: 4rem;
    }

    & > ul {
      list-style: none;
      //list-style-image: url("./assets/images/icon-list.svg");
      padding: 3rem;

      & > li {
        position: relative;
        margin-bottom: 1.8rem;
        padding-left: 1rem;

        &::before {
          position: absolute;
          left: -2.5rem;
          top: 0.2rem;
          content: url("./assets/images/icon-list.svg");
        }
      }
    }

    & > .input-container {
      width: 100%;

      & > input {
        width: 100%;
        border-radius: 0.5rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        font-size: 1.8rem;
        padding: 2rem;
        margin-bottom: 1rem;
        //height: 6rem;
        outline-color: rgba(0, 0, 0, 0.5);

        &::placeholder {
          opacity: 0.8;
        }
      }

      &::before {
        content: "Email address";
        font-family: roboto-bold, sans-serif;
        font-size: 1.2rem;
      }
    }

    button {
      font-family: roboto-bold, sans-serif;
      letter-spacing: 0.05rem;
      font-size: 1.7rem;
    }
  }
}
