$fonts: roboto-bold, roboto-regular;

@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url("./assets/fonts/#{$font}.ttf");
  }
}

:root {
  font-family: roboto-regular, sans-serif;
  //font-weight: 700;

  font-size: 10px;
  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  transition: background-position 0.5s ease-in-out;
  color: whitesmoke;
  //background: linear-gradient(to left, #232742, #232742);
  background: linear-gradient(to right, #232742, #232742, #fe5278, #ff693d) 1%;
  background-size: 300%;
  //background: #232742;
  height: 6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  font-family: roboto-bold, sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.7rem;
  border-color: transparent;

  &:hover {
    //background: linear-gradient(to right, #fe5278, #ff693d);
    background-position: 99%;
  }
}
