$fonts: roboto-bold, roboto-regular;

@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url("./assets/fonts/#{$font}.ttf");
  }
}

:root {
  font-family: roboto-regular, sans-serif;
  //font-weight: 700;

  font-size: 10px;
  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  color: whitesmoke;
  background-color: #232742;
  height: 6rem;
  border-radius: 0.8rem;
}
